<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeMatch</title>
    <link rel="shortcut icon" href="/static/icons/logo-morango.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <section class="landing-page home-page">
        <div class="container">
            <header class="header-home">
                <button class="voltar-chat" onclick="voltar_chat()"><i class="bi bi-arrow-bar-left"></i></button>
                <div class="chat-user-header">
                    <div class="grid-chat-img-user">
                        <img class="grid-chat-img" src="/static/img/lilis.jpg" alt="" srcset="">
                    </div>
                    <div class="chat-desc">
                        <div class="grid-chat-desc">
                            <p class="principal chat-desc-nome">Ana</p>
                            <p class="secundario chat-desc-mensagem">Online</p>
                        </div>
                    </div>
                </div>
            </header>
            <section class="conteudo">
                <div class="chat-user-container">
                    <div class="area-chat">
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você?
                            <span class="msg-time">19:12</span>
                        </div>
                        <div class="msg left">
                            Olá, Tudo bem?
                            <span class="msg-time">19:10</span>
                        </div>
                        <div class="msg right">
                            Oi, tudo ótimo! E você? aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            <span class="msg-time">19:12</span>
                        </div>
                    </div>
                    <form class="mensagem">
                        <input class="mensagem-input" type="text" name="" id="">
                        <button class="mensagem-submit" type="submit"><i class="bi bi-send"></i></button>
                    </form>
                </div>
            </section>
            <div class="menu">
                <button class="menu-btn" id="menu-explorar" onclick="select('explorar')"><i class="bi bi-fire"></i></button>
                <button class="menu-btn" id="menu-matches" onclick="select('matches')"><i class="bi bi-heart"></i></button>
                <button class="menu-btn select" id="menu-chat" onclick="select('chat')"><i class="bi bi-chat"></i></button>
                <button class="menu-btn" id="menu-perfil" onclick="select('perfil')"><i class="bi bi-person"></i></button>
                <button class="menu-btn" onclick="select('sair')"><i class="bi bi-power"></i></button>
            </div>
        </div>
        <span class="apoie">
            <h1 class="apoie-h1">Apoie o FreeMatch!</h1>
            <img src="/static/pix/pix.png" class="apoie-pix">
        </span>
    </section>
</body>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    addEventListener("DOMContentLoaded", function(){
        const area = document.querySelector(".area-chat");
        area.scrollTop = area.scrollHeight;
    })

    function voltar_chat()
    {
        location = "/chat"
    }

    const socket = io("http://127.0.0.1:5000/chat", {withCredentials: true})
</script>
<script src="/static/js/menu.js"></script>
</html>