<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeMatch</title>
    <link rel="shortcut icon" href="/static/icons/logo-morango.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <section class="landing-page home-page">
        <div class="container">
            <header class="header-home">
                <a href="/explorer">
                    <img src="/static/icons/logo.png" class="logo-home">
                </a>
                <span class="gratuito">
                    {{ lista | length }} Conversas
                </span>
            </header>
            <section class="conteudo">
                <h1 class="desc-chat-h1"><span class="heart-ballon"><i class="bi bi-chat-heart"></i></span> Mensagens</h1>
                <div class="grid-chat">
                    {% if lista %}
                        {% for conversa in lista %}
                                <div class="grid-chat-bar"
                                onclick='abrirConversa(
                                    {{ conversa["id_conversa"] }},
                                    {{ conversa["nome"] | tojson }},
                                    {{ conversa["foto"] | tojson }}
                                )'>
                                <div class="grid-chat-img-div">
                                    <img class="grid-chat-img" src="{{ conversa['foto'] }}" alt="" srcset="">
                                </div>
                                <div class="chat-desc">
                                    <div class="grid-chat-desc">
                                        <p class="principal chat-desc-nome">{{ conversa["nome"] }}</p>
                                        <p class="secundario chat-desc-mensagem">
                                            {% if conversa.get('ultima_mensagem') %}
                                                {{ conversa['ultima_mensagem']['texto'][:30] }}
                                            {% else %}
                                                Inicie uma conversa
                                            {% endif %}
                                        </p>
                                    </div>
                                    <span class="chat-desc-nova"></span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <p>Nenhuma conversa ainda.</p>
                    {% endif %}
                </div>
            </section>
            <div class="menu">
                <button class="menu-btn" id="menu-explorar" onclick="select('explorar')"><i class="bi bi-fire"></i></button>
                <button class="menu-btn" id="menu-matches" onclick="select('matches')"><i class="bi bi-heart"></i></button>
                <button class="menu-btn select" id="menu-chat" onclick="select('chat')"><i class="bi bi-chat"></i></button>
                <button class="menu-btn" id="menu-perfil" onclick="select('perfil')"><i class="bi bi-person"></i></button>
                <button class="menu-btn" onclick="select('sair')"><i class="bi bi-power"></i></button>
            </div>
        </div>
        <span class="apoie">
            <h1 class="apoie-h1">Apoie o FreeMatch!</h1>
            <img src="/static/pix/pix.png" class="apoie-pix">
        </span>
    </section>
</body>
<script src="/static/js/menu.js"></script>
<script>
    function abrirConversa(id_conversa, nome, foto)
    {
        sessionStorage.setItem('chat_nome', nome);
        sessionStorage.setItem('chat_foto', foto);
        location = `/chat-user/${id_conversa}`;
    }
</script>
</html>