<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeMatch</title>
    <link rel="shortcut icon" href="/static/icons/logo-morango.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <section class="landing-page">
        <div class="landing-card form-redefinir">
                <h1 class="form-h1">Redefina sua senha</h1>
                <h2 class="form-h2">Insira sua nova senha</h2>
                <form class="form-red">
                    <div class="etapa-entrar">
                        <label class="form-label" for="senha-red-1">Nova senha</label>
                        <input class="form-input" type="password" name="senha-red-1" id="senha-red-1" placeholder="Mínimo 6 caracteres">
                        <label class="form-label" for="senha-red-2">Repita a senha</label>
                        <input class="form-input" type="password" name="senha-red-2" id="senha-red-2" placeholder="Mínimo 6 caracteres">
                        <button class="landing-button button-form" id="comecar" type="submit">Redefinir</button>
                    </div>
                </form>
            </div>
    </section>
</body>
<script src="/static/js/redefinir-senha.js"></script>
</html>