<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeMatch</title>
    <link rel="shortcut icon" href="/static/icons/logo-morango.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <section class="landing-page">
        <div class="landing-card form-recuperar">
                <div class="card-voltar">
                    <button class="voltar" onclick="voltar_rec()">
                        X
                    </button>
                </div>
                <h1 class="form-h1">Recupere sua conta!</h1>
                <h2 class="form-h2">Informe o e-mail vinculado à sua conta para que enviemos o link de redefinição de senha.</h2>
                <form class="form-rec">
                    <div class="etapa-entrar">
                        <label class="form-label" for="email-rec">E-mail</label>
                        <input class="form-input" type="text" name="email-rec" id="email-rec" placeholder="seu@email.com">
                        <button class="landing-button button-form" id="comecar" type="submit">Recuperar</button>
                    </div>
                </form>
            </div>
    </section>
</body>
<script src="/static/js/senha-esquecida.js"></script>
</html>